src/soap/rts2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="rts2"
 targetNamespace="http://lascaux.asu.cas.cz/rts2.wsdl"
 xmlns:tns="http://lascaux.asu.cas.cz/rts2.wsdl"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:ns="urn:rts2"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
 xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="urn:rts2"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ns="urn:rts2"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  <complexType name="radec">
    <sequence>
      <element name="ra" type="xsd:double" minOccurs="1" maxOccurs="1"/>
      <element name="dec" type="xsd:double" minOccurs="1" maxOccurs="1"/>
    </sequence>
  </complexType>
  <complexType name="altaz">
    <sequence>
      <element name="alt" type="xsd:double" minOccurs="1" maxOccurs="1"/>
      <element name="az" type="xsd:double" minOccurs="1" maxOccurs="1"/>
    </sequence>
  </complexType>
  <complexType name="telescope">
    <sequence>
      <element name="target" type="ns:radec" minOccurs="1" maxOccurs="1"/>
      <element name="mount" type="ns:radec" minOccurs="1" maxOccurs="1"/>
      <element name="astrometry" type="ns:radec" minOccurs="1" maxOccurs="1"/>
      <element name="err" type="ns:radec" minOccurs="1" maxOccurs="1"/>
    </sequence>
  </complexType>
  <complexType name="camera">
    <sequence>
      <element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <element name="exposure" type="xsd:double" minOccurs="1" maxOccurs="1"/>
      <element name="temp" type="xsd:double" minOccurs="1" maxOccurs="1"/>
      <element name="focpos" type="xsd:double" minOccurs="1" maxOccurs="1"/>
      <element name="filter" type="xsd:double" minOccurs="1" maxOccurs="1"/>
      <element name="status" type="ns:cameraStatus" minOccurs="1" maxOccurs="1"/>
    </sequence>
  </complexType>
  <complexType name="cameras">
    <sequence>
      <element name="camera" type="ns:camera" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>  
  </complexType>
  <complexType name="target">
    <sequence>
      <element name="id" type="xsd:positiveInteger" minOccurs="1" maxOccurs="1"/>
      <element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <element name="type" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <element name="radec" type="ns:radec" minOccurs="1" maxOccurs="1"/>
      <element name="priority" type="xsd:double" minOccurs="1" maxOccurs="1"/>
    </sequence>
  </complexType>
  <complexType name="dome">
    <sequence>
      <element name="temp" type="xsd:double" minOccurs="1" maxOccurs="1"/>
      <element name="humi" type="xsd:double" minOccurs="1" maxOccurs="1"/>
      <element name="wind" type="xsd:double" minOccurs="1" maxOccurs="1"/>
    </sequence>
  </complexType>
  <complexType name="focus">
    <sequence>
      <element name="pos" type="xsd:positiveInteger" minOccurs="1" maxOccurs="1"/>
    </sequence>
  </complexType>
  <complexType name="filter">
    <sequence>
      <element name="filter" type="xsd:positiveInteger" minOccurs="1" maxOccurs="1"/>
    </sequence>
  </complexType>
  <simpleType name="system">
    <restriction base="xsd:string">
      <enumeration value="OFF"/>
      <enumeration value="STANDBY"/>
      <enumeration value="ON"/>
    </restriction>
  </simpleType>
  <simpleType name="daytime">
    <restriction base="xsd:string">
      <enumeration value="DAY"/>
      <enumeration value="EVENING"/>
      <enumeration value="DUSK"/>
      <enumeration value="NIGHT"/>
      <enumeration value="DAWN"/>
      <enumeration value="MORNING"/>
    </restriction>
  </simpleType>
  <simpleType name="cameraStatus">
    <restriction base="xsd:string">
      <enumeration value="IDLE"/>
      <enumeration value="IMAGE"/>
      <enumeration value="DARK"/>
      <enumeration value="READOUT"/>
      <enumeration value="ERROR"/>
    </restriction>
  </simpleType>
 </schema>

</types>

<message name="getEquRequest">
</message>

<message name="getEquResponse">
 <part name="radec" type="ns:radec"/>
</message>

<message name="getAltRequest">
</message>

<message name="getAltResponse">
  <part name="altaz" type="ns:altaz"/>
</message>

<message name="getTelRequest">
  <part name="name" type="xsd:string"/>
</message>

<message name="getTelResponse">
 <part name="tel" type="ns:telescope"/>
</message>

<portType name="tel">
 <operation name="getEqu">
  <documentation>Get current Equ coordinates of the telescope.</documentation>
  <input message="tns:getEquRequest"/>
  <output message="tns:getEquResponse"/>
 </operation>
 <operation name="getAlt">
  <documentation>Get current Altaz coordinates of the telescope.</documentation>
  <input message="tns:getAltRequest"/>
  <output message="tns:getAltResponse"/>
 </operation>
 <operation name="getTelescope">
  <documentation>Get telescope info.</documentation>
  <input message="tns:getTelRequest"/>
  <output message="tns:getTelResponse"/>
 </operation>
</portType>

<message name="getExecRequest">
</message>

<message name="getExecResponse">
  <part name="current" type="ns:target"/>
  <part name="next" type="ns:target"/>
  <part name="obsid" type="xsd:positiveInteger"/>
</message>

<message name="getTargetRequest">
  <part name="id" type="xsd:positiveInteger"/>
</message>

<message name="getTargetResponse">
  <part name="target" type="ns:target"/>
</message>

<message name="setNextRequest">
  <part name="id" type="xsd:positiveInteger"/>
</message>

<message name="setNextResponse">
  <part name="target" type="ns:target"/>
</message>

<message name="setNowRequest">
  <part name="id" type="xsd:positiveInteger"/>
</message>

<message name="setNowResponse">
  <part name="target" type="ns:target"/>
</message>

<portType name="exec">
  <operation name="getExec">
    <documentation>Get current and next target.</documentation>
    <input message="tns:getExecRequest"/>
    <output message="tns:getExecResponse"/>
  </operation>
  <operation name="getTarget">
    <documentation>Get target information.</documentation>
    <input message="tns:getTargetRequest"/>
    <output message="tns:getTargetResponse"/>
  </operation>
  <operation name="setNext">
    <documentation>Set next target.</documentation>
    <input message="tns:setNextRequest"/>
    <output message="tns:setNextResponse"/>
  </operation>
  <operation name="setNow">
    <documentation>Set next target.</documentation>
    <input message="tns:setNowRequest"/>
    <output message="tns:setNowResponse"/>
  </operation>
</portType>

<message name="getDomeRequest">
</message>

<message name="getDomeResponse">
  <part name="dome" type="ns:dome"/>
</message>

<portType name="dome">
  <operation name="getDome">
    <documentation>Get current weather values</documentation>
    <input message="tns:getDomeRequest"/>
    <output message="tns:getDomeResponse"/>
  </operation>
</portType>

<message name="getFocusRequest">
</message>

<message name="getFocusResponse">
  <part name="focus" type="ns:focus"/>
</message>

<message name="setFocSetRequest">
  <part name="pos" type="xsd:positiveInteger"/>
</message>

<message name="setFocSetResponse">
  <part name="focus" type="ns:focus"/>
</message>

<message name="setFocStepRequest">
  <part name="step" type="xsd:positiveInteger"/>
</message>

<message name="setFocStepResponse">
  <part name="focus" type="ns:focus"/>
</message>

<portType name="focus">
  <operation name="getFocus">
    <documentation>Get current focuser position</documentation>
    <input message="tns:getFocusRequest"/>
    <output message="tns:getFocusResponse"/>
  </operation>
  <operation name="setFocSet">
    <documentation>Set focuser to position</documentation>
    <input message="tns:setFocSetRequest"/>
    <output message="tns:setFocSetResponse"/>
  </operation>
  <operation name="setFocStep">
    <documentation>Change focuser position</documentation>
    <input message="tns:setFocStepRequest"/>
    <output message="tns:setFocStepResponse"/>
  </operation>
</portType>

<message name="getFilterRequest">
</message>
  
<message name="getFilterResponse">
  <part name="filter" type="ns:filter"/>
</message>

<message name="setFilterRequest">
  <part name="id" type="xsd:positiveInteger"/>
</message>

<message name="setFilterResponse">
  <part name="filter" type="ns:filter"/>
</message>

<portType name="filter">
  <operation name="getFilter">
    <documentation>Get current filter</documentation>
    <input message="tns:getFiltersRequest"/>
    <output message="tns:getFilterResponse"/>
  </operation>
  <operation name="setFilter">
    <documenttation>Set filter</documentation>
    <input message="tns:setFilterRequest"/>
    <output message="tns:setFilterResponse"/>
  </operation>
</portType>

<message name="getCameraRequest">
</message>

<message name="getCameraResponse">
  <part name="camera" type="ns:camera"/>
</message>

<message name="getCamerasRequest">
</message>

<message name="getCamerasResponse">
  <part name="cameras" type="ns:cameras"/>
</message>

<portType name="camera">
  <operation name="getCamera">
    <input message="tns:getCameraRequest"/>
    <output message="tns:getCameraResponse"/>
  </operation>
  <operation name="getCameras">
    <input message="tns:getCamerasRequest"/>
    <output message="tns:getCamerasResponse"/>
  </operation>
</portType>

<message name="getCentraldRequest">
</message>

<message name="getCentraldResponse">
  <part name="system" type="ns:system"/>
  <part name="daytime" type="ns:daytime"/>
</message>

<message name="setCentraldRequest">
  <part name="system" type="ns:system"/>
</message>

<message name="setCentraldResponse">
</message>

<portType name="centrald">
  <operation name="getCentrald">
    <documentation>Get current centrald status</documentation>
    <input message="tns:getCentraldRequest"/>
    <output message="tns:getCentraldResponse"/>
  </operation>
  <operation name="setCentrald">
    <documentation>Set current centrald status</documentation>
    <input message="tns:setCentraldRequest"/>
    <output message="tns:setCentraldResponse"/>
  </operation>
</portType>

<binding name="rts2" type="tns:tel">
 <SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="getEqu">
  <SOAP:operation style="rpc" soapaction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:rts2" encodingstyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:rts2" encodingstyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="getAlt">
   <SOAP:operation style="rpc" soapaction=""/>
   <input>
     <SOAP:body use="encoded" namespace="urn:rts2" encodingstyle="http://schemas.xmlsoap.org/soap/encoding/"/>
   </input>
   <output>
     <SOAP:body use="encoded" namespace="urn:rts2" encodingstyle="http://schemas.xmlsoap.org/soap/encoding/"/>
   </output>
 </operation>
 <operation name="getTelescope">
  <SOAP:operation style="rpc" soapaction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:rts2" encodingstyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:rts2" encodingstyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
</binding>

<binding name="rts2" type="tns:exec">
  <SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="getExec">
    <SOAP:operation style="rpc" soapAction=""/>
    <input>
      <SOAP:body use="encoded" namespace="urn:rts2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </input>
    <output>
      <SOAP:body use="encoded" namespace="urn:rts2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </output>
  </operation>
  <operation name="getTarget">
    <SOAP:operation style="rpc" soapAction=""/>
    <input>
      <SOAP:body use="encoded" namespace="urn:rts2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </input>
    <output>
      <SOAP:body use="encoded" namespace="urn:rts2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </output>
  </operation>
  <operation name="setNext">
    <SOAP:operation style="rpc" soapAction=""/>
    <input>
      <SOAP:body use="encoded" namespace="urn:rts2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </input>
    <output>
      <SOAP:body use="encoded" namespace="urn:rts2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </output>
  </operation>
  <operation name="setNow">
    <SOAP:operation style="rpc" soapAction=""/>
    <input>
      <SOAP:body use="encoded" namespace="urn:rts2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </input>
    <output>
      <SOAP:body use="encoded" namespace="urn:rts2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </output>
  </operation>
</binding>

<binding name="rts2" type="tns:dome">
  <SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="getDome">
    <SOAP:operation style="rpc" soapAction=""/>
    <input>
      <SOAP:body use="encoded" namespace="urn:rts2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </input>
    <output>
      <SOAP:body use="encoded" namespace="urn:rts2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </output>
  </operation>
</binding>

<binding name="rts2" type="tns:focus">
  <SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="getFocus">
    <SOAP:operation style="rpc" soapAction=""/>
    <input>
      <SOAP:body use="encoded" namespace="urn:rts2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </input>
    <output>
      <SOAP:body use="encoded" namespace="urn:rts2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </output>
  </operation>
  <operation name="setFocSet">
    <SOAP:operation style="rpc" soapAction=""/>
    <input>
      <SOAP:body use="encoded" namespace="urn:rts2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </input>
    <output>
      <SOAP:body use="encoded" namespace="urn:rts2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </output>
  </operation>
  <operation name="setFocStep">
    <SOAP:operation style="rpc" soapAction=""/>
    <input>
      <SOAP:body use="encoded" namespace="urn:rts2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </input>
    <output>
      <SOAP:body use="encoded" namespace="urn:rts2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </output>
  </operation>
</binding>

<binding name="rts2" type="tns:filter">
  <SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="getFilter">
    <SOAP:operation style="rpc" soapAction=""/>
    <input>
      <SOAP:body use="encoded" namespace="urn:rts2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </input>
    <output>
      <SOAP:body use="encoded" namespace="urn:rts2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </output>
  </operation>
  <operation name="setFilter">
  <SOAP:operation style="rpc" soapAction=""/>
    <input>
      <SOAP:body use="encoded" namespace="urn:rts2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </input>
    <output>
      <SOAP:body use="encoded" namespace="urn:rts2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </output>
  </operation>
</binding>

<binding name="rts2" type="tns:camera">
  <SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getCamera">
      <SOAP:operation style="rpc" soapAction=""/>
      <input>
        <SOAP:body use="encoded" namespace="urn:rts2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <SOAP:body use="encoded" namespace="urn:rts2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getCameras">
      <SOAP:operation style="rpc" soapAction=""/>
      <input>
        <SOAP:body use="encoded" namespace="urn:rts2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <SOAP:body use="encoded" namespace="urn:rts2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
</binding>

<binding name="rts2" type="tns:centrald">
  <SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="getCentrald">
    <SOAP:operation style="rpc" soapAction=""/>
    <input>
      <SOAP:body use="encoded" namespace="urn:rts2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </input>
    <output>
      <SOAP:body use="encoded" namespace="urn:rts2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </output>
  </operation>
  <operation name="setCentrald">
    <SOAP:operation style="rpc" soapAction=""/>
    <input>
      <SOAP:body use="encoded" namespace="urn:rts2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </input>
    <output>
      <SOAP:body use="encoded" namespace="urn:rts2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </output>
  </operation>
</binding>

<service name="rts2">
 <documentation>gSOAP 2.7.6c generated service definition</documentation>
 <port name="rts2" binding="tns:rts2">
  <SOAP:address location="http://lascaux.asu.cas.cz/rts2.cgi"/>
 </port>
</service>

</definitions>
