src/soap/rts2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="rts2"
 targetNamespace="http://lascaux.asu.cas.cz/rts2.wsdl"
 xmlns:tns="http://lascaux.asu.cas.cz/rts2.wsdl"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:ns="urn:rts2"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
 xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="urn:rts2"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ns="urn:rts2"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
 </schema>

</types>

<message name="getEquRequest">
</message>

<message name="getEquResponse">
 <part name="ra" type="xsd:double"/>
 <part name="dec" type="xsd:double"/>
</message>

<portType name="equ">
 <operation name="getEqu">
  <documentation>Get current coordinates of the telescope.</documentation>
  <input message="tns:getEquRequest"/>
  <output message="tns:getEquResponse"/>
 </operation>
</portType>

<message name="getExecRequest">
</message>

<message name="getExecResponse">
  <part name="current" type="xsd:int"/>
  <part name="next" type="xsd:int"/>
</message>

<portType name="exec">
  <operation name="getExec">
    <documentation>Get current and next target.</documentation>
    <input message="tns:getExecRequest"/>
    <output message="tns:getExecResponse"/>
  </operation>
</portType>

<message name="getDomeRequest">
</message>

<message name="getDomeResponse">
  <part name="temp" type="xsd:double"/>
  <part name="humi" type="xsd:double"/>
  <part name="wind" type="xsd:double"/>
</message>

<portType name="dome">
  <operation name="getDome">
    <documentation>Get current weather values</documentation>
    <input message="tns:getDomeRequest"/>
    <output message="tns:getDomeResponse"/>
  </operation>
</portType>

<binding name="rts2" type="tns:equ">
 <SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="getEqu">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:rts2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:rts2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
</binding>

<binding name="rts2" type="tns:exec">
  <SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="getExec">
    <SOAP:operation style="rpc" soapAction=""/>
    <input>
      <SOAP:body use="encoded" namespace="urn:rts2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </input>
    <output>
      <SOAP:body use="encoded" namespace="urn:rts2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </output>
  </operation>
</binding>

<binding name="rts2" type="tns:dome">
  <SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="getDome">
    <SOAP:operation style="rpc" soapAction=""/>
    <input>
      <SOAP:body use="encoded" namespace="urn:rts2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </input>
    <output>
      <SOAP:body use="encoded" namespace="urn:rts2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </output>
  </operation>
</binding>

<service name="rts2">
 <documentation>gSOAP 2.7.6c generated service definition</documentation>
 <port name="rts2" binding="tns:rts2">
  <SOAP:address location="http://lascaux.asu.cas.cz/rts2.cgi"/>
 </port>
</service>

</definitions>
